node_modules/
test/javascripts/resources/javascripts
test/javascripts/resources/support/*
!test/javascripts/resources/support/stubs.coffee
.idea/
.env
*.js
*.css
!*.min.css
!*.min.js
dump.rdb
media/
data/
log/
mongo.pid